<!-- 🔹 当前登录用户的信息 -->
<h2><%= @user.name %> さんのプロフィール</h2>

<% if @user.profile_image.attached? %>
  <%= image_tag @user.profile_image, width: 100, height: 100, class: "rounded-circle" %>
<% else %>
  <%= image_tag 'no_image.jpg', width: 100, height: 100, class: "rounded-circle" %>
<% end %>


<p><strong>自己紹介：</strong> <%= @user.introduction %></p>
<%= link_to 'Edit My Profile', edit_user_path(current_user), class: 'btn btn-outline-primary btn-sm mt-2' %>

<hr>

<!-- 🔹 投稿表单 -->
<h3>新しい本を投稿する</h3>

<%= form_with(model: @book, url: books_path, local: true) do |f| %>
  <% if @book.errors.any? %>
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit '投稿する', class: 'btn btn-primary mt-2' %>
  </div>
<% end %>

<hr>

<!-- 🔹 所有用户一览 -->
<h3>ユーザー一覧</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
          <% if user == current_user %>
            <span style="color: gray;">（自分）</span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', user_path(user), class: 'btn btn-info btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
