<!-- 用户信息 -->
<h2><%= @user.name %> さんのプロフィール</h2>

<% if @user.image.attached? %>
  <%= image_tag @user.image, width: 100, height: 100, class: "rounded-circle" %>
<% else %>
  <%= image_tag 'no_image.jpg', width: 100, height: 100, class: "rounded-circle" %>
<% end %>


<p><strong>自己紹介:</strong> <%= @user.introduction %></p>
<%= link_to 'Edit My Profile', edit_user_path(current_user), class: 'btn btn-outline-primary btn-sm mt-2' %>

<hr>

<!-- 投稿表单 -->
<h3>新しい本を投稿する</h3>

<%= form_with(model: @book, url: books_path, local: true) do |f| %>
  <% if @book.errors.any? %>
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <%= f.submit '投稿する' %>
<% end %>

<hr>

<!-- 投稿列表 -->
<h3>投稿一覧</h3>
<% @books.each do |book| %>
  <div style="border: 1px solid #ccc; margin-bottom: 10px; padding: 10px;">
    <p><strong>タイトル：</strong> <%= link_to book.title, book_path(book) %></p>
    <p><strong>感想：</strong> <%= book.body %></p>
  </div>
<% end %>
