<h2>本の投稿を編集する</h2>

<%= form_with(model: @book, url: book_path(@book), method: :patch, local: true) do |f| %>
  <% if @book.errors.any? %>
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit '更新する', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to '戻る', book_path(@book), class: 'btn btn-secondary mt-2' %>
