<h2>
  <%= link_to user_path(@user), class: 'text-decoration-none' do %>
    <%= @user.name %> さんのプロフィール
  <% end %>
</h2>

<%= link_to user_path(@user) do %>
  <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image.variant(resize_to_fill: [100, 100]), class: "rounded-circle" %>
  <% else %>
    <%= image_tag 'no_image.jpg', width: 100, height: 100, class: "rounded-circle" %>
  <% end %>
<% end %>



<p><strong>自己紹介:</strong> <%= @user.introduction %></p>
<%= link_to 'Profile Settings', edit_user_path(current_user), class: 'btn btn-outline-primary btn-sm mt-2' %>

<hr>

<!-- 投稿表单（和上面一样）-->
<h3>New book</h3>

<%= form_with(model: @new_book, url: books_path, local: true) do |f| %>
  <% if @new_book.errors.any? %>
    <ul>
      <% @new_book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <%= f.submit 'Create Book' %>
<% end %>

<hr>

<!-- 当前这本书的详情 -->
<h3>Book detail</h3>
<p><strong>タイトル：</strong> <%= @book.title %></p>
<p><strong>感想：</strong> <%= @book.body %></p>

<% if @book.user == current_user %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>
